.benefit {
	.section-title {
		min-width: 1120px;
	}
	.number-icon {
		font-size: 48px;
		color: $number_icon;
		font-family: 'MontserratAlternatesSemiBold' ,sans-serif;
		&.center-icon {
			margin-top: 58px;
			text-align: center;
		}
	}
	&-title {
		font-size: 27px;
		font-family: 'MontserratAlternatesSemiBold' ,sans-serif;
		&__center {
			text-align: center;
		}
	}
	&-subtitle{
		font-size: 21px;
		&__center {
			text-align: center;
		}
	}
	&-list {
		display: flex;
		justify-content: space-between;
		.benefit-item {
			padding: 48px 30px 30px 30px;
			max-width: 480px;
			border: 8px solid $red;
			border-radius: 8px;
			&__descr {
				padding-left: 10px;
				border-left: 3px solid $red;
			}
		}
	}
}