.main-button{
	position: relative;
	max-width: 340px;
	.lable {
		position: absolute;
		display: block;
		right: -5px;
		top: -36px;
		width: 72px;
		height: 71px;
		background: url('../img/button-lable.png');
		color: $white;		
	}
	.label-text {
		text-align: center;
		margin-top: 16px;
		font-size: 16px;
		.lable-small {
			font-size: 11px;
		}
	}
}
.button {
	padding: 28px 24px 24px 24px;
	max-width: 340px;
	background: $red;
	border: none;
	border-radius: 8px;
	border-bottom: 4px solid $dark_red;
	color: $white;
	font-size: 14px;
	font-family: 'MontserratAlternatesBlack', sans-serif;
	transition: all 0.5s;
	&:hover {
		background: $btn_hover;
	}
}
.form-btn {
	width: 403px;
}
.section-title {
	max-width: 780px;
	margin: 0 auto;
	margin-bottom: 28px;
	font-size: 43px;
	text-align: center;
	font-family: 'MontserratExtraBold', sans-serif;
	&.white {
		color: $white;
	}
}
.section-subtitle {
	max-width: 780px;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
}

/* кнопки слайдер */

.arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
	transition: background-color 0.5s;
  &:hover {
    background-color: red;
  }
  &:hover i {
    color: #fff;
  }
  i {
    font-size: 30px;
		margin-right: 5px;
		&.fa-angle-right {
			margin-right: 0;
			margin-left: 5px;
		}
  }
}
.arrow-prev {
	position: absolute;
	left: -60px;
	top: 50%;
	transform: translateY(-25px);
}
.arrow-next {
	position: absolute;
	right: -60px;
	top: 50%;
	transform: translateY(-25px);
}

/* кнопки слайдер */

/* слайдер с боковой навигацией */
.experience-slider {
	&-content {
		display: flex;
		margin-bottom: 80px;
	}
	&__title {
		font-size: 24px;
		text-align: center;
	}
	&-box {
		margin-left: auto;
		max-width: 880px;
		max-height: 430px;
	}
	.experience-slide {
		max-width: 880px;
		max-height: 430px;
	}
	&-nav {
		.slider-nav{
			&__list {
				padding: 0;
				margin: 0;
				width: 222px;
				border: 1px solid $border_grey;
				font-size: 16px;
				list-style-type: none;
				.slick-list {
					overflow: visible;
				}
				.slick-list.draggable {
					transform: none!important;
					.slick-track {
					transform: none!important;
					}
				}
			}			
			&__item {
				position: relative;
				padding: 35px 16px 23px 14px;
				min-height: 95px;
				border-bottom: 1px solid $border_grey;
				box-sizing: border-box;
				&.slick-current {
					position: relative;
					color: $white;
					background: $red;
					&::after {
						content: '';
						position: absolute;
						right: -16px;
						top: 0;
						width: 0; 
						height: 0;
						border-top: 44px solid transparent;
						border-left: 15px solid $red;
						border-bottom: 50px solid transparent;
						z-index: 100;
					}
				}
				&:last-child {
					border-bottom: none;
				}
				&:hover {
					color: $white;
					background: $red;
				}
				&:hover &::after {
					display: block;
				}
			}
		}
	}
	.dots {
		list-style-type: none;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			margin-right: 10px;
		}
		button {
			display: block;
			width: 10px;
			height: 10px;
			background: $red;
			font-size: 0;
			border: none;
			border-radius: 50%;
		}
	}
}

/* слайдер с боковой навигацией */

/* таблица с клиентами */
.dealership-clients {
	&__table {
		border: 1px solid $border_grey;
		border-collapse: collapse;
		text-align: center;
	}
	&__column {
		padding: 8px 30px;
		border: 1px solid $border_grey;
		img {
			margin: 0 auto;
		}
	}
	
}
/* таблица с клиентами */
.mb-0 {
	margin-bottom: 0!important;
}

.none {
	display: none;
}