.delivery {
	&-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		&__item {
			margin-right: 180px;
			max-width: 445px;
			text-align: center;
			&:last-child {
				margin-right: 0;
			}
			.delivery-1 {
				background: url('../img/delivery-1.png');
				background-repeat: no-repeat;
    		background-position: center center;
			}
			.delivery-2 {
				background: url('../img/delivery-2.png');
				background-repeat: no-repeat;
    		background-position: center center;
			}
			.delivery-item__title {
				margin-top: 50px;
				margin-bottom: 24px;
				font-size: 27px;
				font-family: 'MontserratAlternatesSemiBold', sans-serif;
			}
			.delivery-item__descr {
				font-size: 21px;
			}
		}
	}
}