.experience{
	&-subtitle {
		margin-bottom: 80px;
		font-size: 30px;
		text-align: center;
		font-family: 'MontserratAlternatesSemiBold', sans-serif;
	}
	&-content{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 80px;
		.sertificates-list {
			display: flex;
			.experience-certificates__item {
				width: 128px;
				height: 191px;
				margin-right: 30px;
				overflow: hidden;
				img {
					width: 128px;
				}
			}
		}
		.experience-photo {
			margin-left: auto;
		}
		.sertificates-descr {
			width: 304px;
			text-align: center;
		}
	}
	.problem {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 60px;
		.problem-title {
			flex-basis: 15%;
			font-size: 14px;
		}
		&-descr {
			flex-basis: 80%;
			&__title {
				font-size: 21px;
				font-family: 'MontserratAlternatesSemiBold',sans-serif;
			}
		}
	}
	.equipment {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		&-catalog {
			position: relative;
			margin-right: 30px;
			&_btn {
				position: absolute;
				top: 32%;
				left: 18%;
			}
		}
	}
}