@font-face {
	font-family: 'MontserratAlternatesSemiBold';
	src: url('../fonts/MontserratAlternatesSemiBold.eot');
	src: url('../fonts/MontserratAlternatesSemiBold.eot') format('embedded-opentype'),
			 url('../fonts/MontserratAlternatesSemiBold.woff2') format('woff2'),
			 url('../fonts/MontserratAlternatesSemiBold.woff') format('woff'),
			 url('../fonts/MontserratAlternatesSemiBold.ttf') format('truetype'),
			 url('../fonts/MontserratAlternatesSemiBold.svg#MontserratAlternatesSemiBold') format('svg');
}
@font-face {
	font-family: 'MontserratAlternatesBlack';
	src: url('../fonts/MontserratAlternatesBlack.eot');
	src: url('../fonts/MontserratAlternatesBlack.eot') format('embedded-opentype'),
			 url('../fonts/MontserratAlternatesBlack.woff2') format('woff2'),
			 url('../fonts/MontserratAlternatesBlack.woff') format('woff'),
			 url('../fonts/MontserratAlternatesBlack.ttf') format('truetype'),
			 url('../fonts/MontserratAlternatesBlack.svg#MontserratAlternatesBlack') format('svg');
}
@font-face {
	font-family: 'MontserratAlternatesRegular';
	src: url('../fonts/MontserratAlternatesRegular.eot');
	src: url('../fonts/MontserratAlternatesRegular.eot') format('embedded-opentype'),
			 url('../fonts/MontserratAlternatesRegular.woff2') format('woff2'),
			 url('../fonts/MontserratAlternatesRegular.woff') format('woff'),
			 url('../fonts/MontserratAlternatesRegular.ttf') format('truetype'),
			 url('../fonts/MontserratAlternatesRegular.svg#MontserratAlternatesRegular') format('svg');
}
@font-face {
	font-family: 'MontserratAlternatesMedium';
	src: url('../fonts/MontserratAlternatesMedium.eot');
	src: url('../fonts/MontserratAlternatesMedium.eot') format('embedded-opentype'),
			 url('../fonts/MontserratAlternatesMedium.woff2') format('woff2'),
			 url('../fonts/MontserratAlternatesMedium.woff') format('woff'),
			 url('../fonts/MontserratAlternatesMedium.ttf') format('truetype'),
			 url('../fonts/MontserratAlternatesMedium.svg#MontserratAlternatesMedium') format('svg');
}
@font-face {
	font-family: 'MontserratExtraBold';
	src: url('../fonts/MontserratExtraBold.eot');
	src: url('../fonts/MontserratExtraBold.eot') format('embedded-opentype'),
			 url('../fonts/MontserratExtraBold.woff2') format('woff2'),
			 url('../fonts/MontserratExtraBold.woff') format('woff'),
			 url('../fonts/MontserratExtraBold.ttf') format('truetype'),
			 url('../fonts/MontserratExtraBold.svg#MontserratExtraBold') format('svg');
}
@font-face {
	font-family: 'Latoregular';
	src: url('../fonts/Lato-Regular.eot');
	src: local('Lato Regular'), local('Lato-Regular'),
			url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Lato-Regular.woff') format('woff'),
			url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Latosemibold';
	src: url('../fonts/Lato-Semibold.eot');
	src: local('Lato Semibold'), local('Lato-Semibold'),
			url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Lato-Semibold.woff') format('woff'),
			url('../fonts/Lato-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}