.get-catalog {
	padding: 30px 28px;
	width: 347px;
	background: $white;
	font-size: 16px;
	font-family: 'Latosemibold';
	button {
		max-width: 348px;
	}
	.lable {
		right: -42px;
	}
	&__footer {
		padding: 29px 50px 37px 50px;
		text-align: center;
	}
}
.form-title {
	margin-top: 0;
	font-family: 'Latoregular';
	font-size: 23px;
	text-align: center;
}
.form__label {
	display: block;
	margin-bottom: 14px;
}
.form__input {
	padding: 0 12px;
	margin-bottom: 24px;
	width: calc(100% - 24px);
	height: 52px;
	line-height: 52px;
	border: 1px solid $input_border;
	border-radius: 8px;
}
.form-checkbox {
	margin-top: 18px;
}
.checkbox-label {
	font-size: 14px;
}