.goods {
	&-list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: center;
		&__item {
			width: 200px;
			margin-right: 40px;
			&:nth-child(5n) {
				margin-right: 0;
			}
			img {
				align-self: center;
			}
			.goods-item {
				display: flex;
				flex-direction: column;
				text-decoration: none;
			}
		}
	}
	&-title {
		margin: 10px 0 70px 0;
		display: block;
		color: $item_hov;
		font-family: 'Latoregular', sans-serif;
		text-decoration: none;
		text-align: center;
		&:hover {
			text-decoration: underline;
			color: $red;
		}
	}
}