.help {
	padding-top: 140px;
	background: url('../img/service-bg.jpg');
	background-size: cover;
	color: $white;
	-webkit-clip-path: polygon(100% 0, 100% 100%, 35% 91%, 0 100%, 0 0, 38% 8%);
	clip-path: polygon(100% 0, 100% 100%, 35% 91%, 0 100%, 0 0, 38% 8%);
	&-content {
		display: flex;
		flex-wrap: wrap;
	}
	&-list {
		padding: 0;
		padding-bottom: 90px;
		margin-top: 0;
		list-style-type: none;
		&__item {
			width: 77%;
			padding-left: 50px;
			min-height: 40px;
			background: url('../img/bullit-icon.png');
			background-repeat: no-repeat;
			background-position: left top;
			.help-item__title {
				margin-bottom: 20px;
				font-size: 24px;
				font-family: 'MontserratAlternatesRegular';
			}
			.help-item__descr {
				margin-bottom: 52px;
			}
		}
	}
	.help-content__sale {
		display: flex;
		.sale-box {
			max-width: 494px;
			&__title {
				font-size: 21px;
			}
		}
		.catalog-form {
			margin-left: auto;
		}
	}
	.catalog-form {
		color: $black;
	}
}