.popup-title {
	font-size: 23px;
	margin-bottom: 20px;
	text-align: center;
}
.popup-best-diller {
	position: relative;
	width: 300px;
	margin: 0 auto;
	padding: 25px;
	background: $white;
	text-align: center;
	.sertificate-box {
		margin: 0 auto;
		width: 154px;
		height: 220px;
		overflow: hidden;
	}
}
.popup-free-consultation {
	position: relative;
	width: 300px;
	margin: 0 auto;
	.catalog-form {
		width: 300px;
		.get-catalog {
			position: relative;
			width: 244px;
			button {
				width: 244px;
			}
		}
	}
}
.popup-benefit {
	position: relative;
	width: 300px;
	margin: 0 auto;
	.get-catalog {
		width: 244px;
		button {
			width: 244px;
		}
	}
	&__link {
		color: $white;
		text-decoration: none;
	}
}
.popup-get-catalog {
	position: relative;
	display: flex;
	max-width: 900px;
	margin: 0 auto;
	padding: 25px;
	background: $white;
	overflow: hidden;
	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 1px;
		height: 100%;
		left: 50%;
		top: 0;
		background: $input_border;
	}
	.popup-get-catalog__slider {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-basis: 50%;
	}
	.get-catalog__slider-list {
		&.slick-slider {
			width: 200px;
		}
	}
	.popup-slider__item {
		width: 320px;
		overflow: hidden;
		text-align: center;
	}
}
.popup-goods {
	position: relative;
	max-width: 900px;
	margin: 0 auto;
	padding: 25px;
	background: $white;
	&-content {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}
}
.popup-tender,
.popup-equipment {
	position: relative;
	max-width: 900px;
	margin: 0 auto;
	padding: 25px;
	background: $white;
	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 1px;
		height: 100%;
		left: 50%;
		top: 0;
		background: $input_border;
	}
	.popup-goods-catalog {
		padding-top: 30px;
		flex-basis: 50%;
		text-align: center;
		&.text-left {
			text-align: left;
		}
		.catalog-img {
			margin-top: 35px;
			width: 80%;
			text-align: center;
		}
		.tender-list {
			margin-top: 45px;
			&__item {
				padding-left: 90px;
				margin-bottom: 35px;
				font-family: 'Latoregular',sans-serif;
				&.tender-1 {
					background: url('../img/tender/tender-icon-1.png');
					background-position: left top;
					background-repeat: no-repeat;
				}
				&.tender-2 {
					padding-bottom: 12px;
					padding-top: 9px;
					background: url('../img/tender/tender-icon-2.png');
					background-position: 8px 0;
					background-repeat: no-repeat;
				}
				&.tender-3 {
					padding-bottom: 6px;
					background: url('../img/tender/tender-icon-3.png');
					background-position: left top;
					background-repeat: no-repeat;
				}
				.tender-item {
					&__title {
						font-size: 21px;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
	.get-catalog {
		margin: 0 auto;
	}
	.popup-get-catalog__form {
		flex-basis: 50%;
	}
}