$black: #000;
$red: #de343d;
$dark_red: #a8171f;
$white: #ffffff;
$btn_hover: #f01f2a;
$item_hov: #212121;
$input_border: #d9d9d9;
$number_icon: #cccccc;
$grey: #666666;
$border_grey: #e5e5e5;
$footer_link: #1179c2;