@import "_normalize.scss";
@import "_fonts.scss";
@import "_variables.scss";
@import "_components.scss";
@import "_forms.scss";
@import "_modals.scss";

body {
	font-family: 'MontserratAlternatesRegular' ,sans-serif;
	font-size: 18px;
}
img {
	max-width: 100%;
}
.wrapper{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

@import "_header.scss";
@import "_advantages.scss";
@import "_discount.scss";
@import "_catalog.scss";
@import "_benefit.scss";
@import "_help.scss";
@import "_experience.scss";
@import "_clients.scss";
@import "_our-service.scss";
@import "_delivery.scss";
@import "_goods.scss";
@import "_welcome.scss";
@import "_media.scss";